@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family:'Urbanist', sans-serif;
}

.hero-section{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 120px;
    min-height:90vh;
    background: white;
}

.left-side{
    width: 50%;
}

.hero-title{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.first-line{
    font-size:72px;
    font-weight:800;
    color:#111111;
    line-height:1;
}

.second-line{
    font-size:68px;
    font-weight:700;
    color:#111111;
    line-height:1.1;
    max-width:700px;
}

.hero-description{
    margin-top:25px;
    font-size:20px;
    color:#5c5c5c;
    max-width:550px;
    line-height:1.7;

}

.input-field{
    display:flex;
    flex-direction:column;
    gap:20px;
    margin-top:35px;
}

.input-field input{
    width:550px;
    padding:18px;
    font-size:17px;
    border:0.5px solid black;
    outline:none;
    border-radius:12px;
    background:white;
}

.input-box{
    display:flex;
    align-items:center;
    gap:15px;
    width:550px;
    padding:18px;
    background:white;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
    transition:0.3s;

}

.input-box:hover{
    transform:translateY(-2px);
    box-shadow:0 5px 15px rgba(0,0,0,0.08);

}

.input-box input{
    border:none;
    outline:none;
    width:100%;
    font-size:17px;
    background:transparent;
    color:#111111;

}

.input-icon{
    font-size:22px;
    color:#111111;

}

.hero-btn button{
    margin-top:25px;
    width:550px;
    height:70px;
    background:#FFD600;
    border:none;
    border-radius:20px;
    color:black;
    font-size:24px;
    font-weight:700;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    outline:none;
    box-shadow:none;
    transition:all 0.3s ease;

}

.hero-btn button:hover{
    transform:translateY(-3px);
    background:#fbe600;

}

.right-side img{
    width:550px;

}